---
extends: default

rules:
  line-length:
    max: 200
    allow-non-breakable-words: true
  truthy: disable
  document-start: disable
  trailing-spaces: disable
  new-lines: disable
  indentation:
    indent-sequences: consistent
